body{
	background-color: #F5F0DC;
	font-family: Helvetica, Arial, sans-serif;
	width:940px;
	margin-right:auto;
	margin-left:auto;
}
#titulo{
	text-align: center
}
h2{
	background-color: #B3A742;/* Na propriedade linear-gradient informamos 3 valores: o primeiro, top, indica onde o degradê começa e sua direção, o segundo, #9C8F67, indica qual a cor de início do degradê, e o terceiro, #C7BE9B, indica a cor que termina o degradê.*/
	background:-webkit-linear-gradient(top,#9C8F67,#C7BE9B 30%); /* in this line we are getting 30% of the h2 colour)*/
	/* para funcionar no google chrome eh webkit, para funcuinar no firefox eh o-linear, para mozila eh -moz-*/
	border-radius: 15px; /* bordas arredondada*/
	border: 1px solid black;/* cor das bordas arredondada*/
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
	color:#FFFFFF;
}
figure{
	background-color:white;
	width:400px;
	text-align: center;
	padding:15px; /*margem interna*/
	font-family: 'Comic Sans MS',cursive;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
	/* -webkit-transform:rotate(-5deg); ao inves de fazer a fgura rotacionar aqui criamos em outra funcao*/

}
/* nesta funcao abaixo a imagem vai girar assim que passarmos o mouse*/
figure:hover{
	text-decoration: underline;
	-webkit-transform:rotate(-5deg);
}
#tb-nutrientes{
	width:40%;
	margin-right:auto;
	margin-left:auto;
	border:1px solid black;
}
/* nesse caso o th eh filho da tab tb-nutrientes*/
#tb-nutrientes th{ 
	background-color: #FFFFFF;
}
#tb-nutrientes tr:nth-child(even)
{
	background-color: #FFFFFF;
}
#tb-nutrientes tr:nth-child(odd)
{
	background-color: #F8EAB3;
}
/* a tag li coloca os dados sempre em lista na vertical,
 utilizando o codigo abaixo com tag nav podemos deixar 
 os dados alinhados*/
nav ul li{
	display:inline;
	margin-right:50px;
}

#topo{
	text-align:center;
}