body{
	background-color:#FF4C65;
	font-family: Helvetica, Arial, sans-serif;
	width:940px;
	margin-right:auto;
	margin-left:auto;
}
#titulo{
	text-align: center
}

#banner{/* banner can be found on ribbon images. A imagem sempre ficara a esquerda pq eh padrao html mas podemos modificar usando position absolute
	 */
	top:0;
	right: 0;
	position:absolute;/*O absolute eh sempre em relacao ao elemento pai que nesse caso deveria ser a tag ul ou html que eh pai de todas as tags abaixo dele, sendo assim a imagem flutua conforme mexemos a barra de rolagem.*/
	position:fixed;/* a imagem ficara estatica mesmo mexendo a bara de rolagem */
}

nav{ /* o elemento float faz com que o menu fique a esquerda sem empurrar ou sobrepor outros elementos*/
	width:200px;
	float:left;
}
nav ul li{ /* ALTERANDO AS configuracoes dos links do menu*/
	background-color: #C7BE9B;
	margin-bottom: 3px;
}
nav ul li a{/* ALTERANDO AS cores dos links do menu*/
	text-decoration: none;
	color:black;
}
nav ul{/* removendo os bullets dos links do menu*/
	list-style: none;
	padding-left: 0; /* removendo o espaco deixado ao remover os bullets dos links do menu*/
}
nav ul li:hover{/*altera a cor de fundo do menu quando o mouse passar por cima*/	
background-color: #9C8F67;
}

h2{
	background-color: #B3A742;/* Na propriedade linear-gradient informamos 3 valores: o primeiro, top, indica onde o degradê começa e sua direção, o segundo, #9C8F67, indica qual a cor de início do degradê, e o terceiro, #C7BE9B, indica a cor que termina o degradê.*/
	background:-webkit-linear-gradient(top,#FFFFFF,#111112 50%); /* in this line we are getting 30% of the h2 colour)*/
	/* para funcionar no google chrome eh webkit, para funcuinar no firefox eh o-linear, para mozila eh -moz-*/
	border-radius: 15px; /* bordas arredondada*/
	border: 3px solid #4A665E;/* cor das bordas arredondada*/
	padding-top:5px;
	font-size: 18px;
	padding-left:20px;
	padding-bottom:5px;
	padding-right:5px;
	color:#FFFFFF;
}
figure{
	background-color:#FFBD71;
	width:400px;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	font-size: 18px;
	padding:15px; /*margem interna*/
	font-family: 'Comic Sans MS',cursive;
	border: 1px solid pink;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
	/* -webkit-transform:rotate(-5deg); ao inves de fazer a fgura rotacionar aqui criamos em outra funcao*/

}
/* nesta funcao abaixo a imagem vai girar assim que passarmos o mouse*/
figure:hover{
	text-decoration: underline;
	-webkit-transform:rotate(-10deg);
}
#tb-nutrientes{
	width:40%;
	margin-right:auto;
	margin-left:auto;
	border:1px solid black;
}
/* nesse caso o th eh filho da tab tb-nutrientes*/
#tb-nutrientes th{ 
	background-color: #FFFFFF;
}
#tb-nutrientes tr:nth-child(even)
{
	background-color: #FFFFFF;
}
#tb-nutrientes tr:nth-child(odd)
{
	background-color: #F8EAB3;
}
/* a tag li coloca os dados sempre em lista na vertical,
 utilizando o codigo abaixo com tag nav podemos deixar 
 os dados alinhados*/
/* REMOVING this part od the code to do another position for the  menu.
deixando na vertical.
nav ul li{
	display:inline;
	margin-right:50px;
}
*/
#conteudo{
	width:740px;
	float:right;
}

#topo{
	text-align:center;
}
















